version: '3.8'

services:
  backend:
    build: .
    image: aifax-backend
    container_name: aifax-backend-container
    ports:
      - "8000:8000"
    volumes:
      - ./app:/app/app
      - ./uploads:/app/uploads
      - ./.env:/app/.env
    env_file:
      - .env
    restart: unless-stopped
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000 --reload